.DS_Store
WeeklyChallenges2023/WeeklyChallenges2023.xcodeproj/xcuserdata/themem12.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
WeeklyChallenges2023/WeeklyChallenges2023.xcodeproj/project.xcworkspace/xcuserdata/themem12.xcuserdatad/UserInterfaceState.xcuserstate

WeeklyChallenges2023.xcodeproj/project.xcworkspace/

WeeklyChallenges2023.xcodeproj/xcuserdata/
